<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tophotels">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/hotel"
        android:label="TOPHotels"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".vistas.PesquisarActivity"
            android:parentActivityName=".vistas.MenuMainActivity" />
        <activity
            android:name=".vistas.DetalhesContaActivity"
            android:parentActivityName=".vistas.MenuMainActivity" />
        <activity
            android:name=".vistas.QuartoSelecionadoActivity"
            android:parentActivityName=".vistas.MenuMainActivity" />
        <activity
            android:name=".vistas.MenuMainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vistas.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vistas.RegistarContaActivity"
            android:label="@string/CabecalhoRegistarConta"
            android:parentActivityName=".vistas.LoginActivity" />
    </application>

</manifest>